@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,800|Oswald:700');
@font-face {
  font-family: 'Copper Hewit';
  font-style: normal;
  font-weight: 400;
  src: local('Copper Hewitt'), local('CopperHewitt'),
    url('./fonts/CooperHewitt-Book.otf');
}
@font-face {
  font-family: 'Copper Hewit';
  font-style: normal;
  font-weight: 500;
  src: local('Copper Hewitt'), local('CopperHewitt'),
    url('./fonts/CooperHewitt-Bold.otf');
}
@font-face {
  font-family: 'Copper Hewit';
  font-style: normal;
  font-weight: 600;
  src: local('Copper Hewitt'), local('CopperHewitt'),
    url('./fonts/CooperHewitt-Medium.otf');
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}
html,
body {
  height: 100%;
  background: #0e1419;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background: #0e1419;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
