.header {
  grid-area: header;
  width: 100%;
  display: flex;
  align-items: center;
}
.wrapper {
  display: flex;
  width: inherit;
  height: 145px;
  align-items: center;
  background: #0e1419;
  justify-content: flex-end;
  padding: 0 25px 0 0;
  z-index: 5;
}

.headerSearch {
  margin: 0 50px;
}

.show {
  background: #0e1419;
}

.centered {
  width: 100%;
  margin: 15px 0;
  justify-content: center;
}

.shade {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 30px;
  z-index: 5;
  color: #0e1419;
  grid-auto-rows: minmax(245px, auto);
  position: absolute;
  width: 80%;
  height: auto;
  padding: 25px;
  background: white;
  border-radius: 10px;
}
